.sidebar {
  will-change: transform;
  position: absolute;
  left: 0;
  width: 240px;
  height: 420px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #FFFFFF;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: rgba(40, 40, 40, .3);
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
  box-shadow: 0px 6px 25px 2px rgba(40,40,40,.2);
  transform: translate(-200px, 0px);
}