body {
  background: -webkit-linear-gradient(130deg, #9B7481, #CAB2AE) no-repeat fixed;
  background: linear-gradient(130deg, #9B7481, #CAB2AE) no-repeat fixed;
  background: -moz-linear-gradient(130deg, #9B7481 , #CAB2AE) no-repeat fixed;
}

